{% extends 'base_join.html' %}
{% block content  %}
<div class="jumbotron">
  <h1 class="display-4">About us</h1>
  <p class="lead"> .</p>
  <hr class="my-4">
  <p>Swami Vivekananda advocated the philosophy of "Service to Man is Service to God". Inspired by this message, Swami Vivekananda Mission has been doing various programs to carry out "service to humanity is true worship of divinity."</br></br>
As the Father of the Nation rightly said, “India lives in its villages”, unless those living in villages are given priority in growth measures, progress cannot be achieved.</br>
Swami Vivekananda Mission is continuously conducting various education programs, Spiritual programs, gift of needful items and others etc. also, We are working to channelize the energies of the people towards national reconstruction through youth programs.</br></br>


Some of our initiatives are:</br></br>
Library:</br>
Apart from lack of awareness, a low teacher-student ratio is another challenge and most of the villagers are illiterate; they do not consider their children’s education as their priority.
To change this situation, we have opened "Swami Vivekananda Mission library" a place where we are giving access to children to read different kinds of books, also Providing tuitions class, Books, Stationary etc. and helping in Propagation of yoga and personality development.</br></br>

Swachhata Bharat</br>
Cleanliness is very important whether it is our home, workplace or public places. It is one of the very basic needs of a civilized lifestyle. Mahatma Gandhi,
The father of our nation gave the mantra “Cleanliness is Godliness” and our Honorable Prime Minister Narendra Modi launched The Swachh Bharat Mission inspired by Mahatma Gandhi.
Swami Vivekananda Mission is organizing various cleanliness drives at different areas and spreading awareness on the subject. We are motivating the people to ensure safe and hygienic disposal of waste during the cleanliness drive.</br></br>

Spiritual Activities </br>
Swami Vivekananda Mission is continuously conducting various spiritual activities like bhajan, hanuman chalisa weekly program, Spiritual talks, Bhagwat Geeta, chanting mantras and activities to create awareness among peoples to stop conversion and helping them to understand true meaning of sanatana dharma.</br></br>

Moving on with the same sprit we have started online courses to teach different sections of people. It is encouraging to note that People across India are joining us in this project and helping us.
</br>
</br>
<h5 class="display-4">Our coordinators:</h5>
</br>

1. Shivam Chaubey</br>
2. Mohit Bisht</br>
3. Mita Sarkar</br>
4. Rajesh Mudholkar</br>
5. Gayatri Mishra</br>
6. Tryambk Upadhyay</br>

</p>
  <p><br/></p>
  <p class="lead">
    <a class="btn btn-warning" href="homepage" role="button">Home</a>
  </p>
</div>
{% endblock %}