{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}SVM{% endblock %}</title>
<meta name="description" content="">
<meta name="Mohit" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
</head>
<body>
{% block pagecontent %}
<div class="container">
<div class="row">
  <div class="jumbotron" style="background-color:##C0C0C0">
  <div class="text-center">
  <h1 class="display-4">Blogs</h1>
</div>

	<div class="col-8">
      <div class="jumbotron" style="background-color:#e1812e">
      	<h2 class="display-4">Tributes to Ahilyabai holkar </h2>
      	<h4 class="display-4">By: Shivam Chaubey</h4>
      	<h4 class="display-4">Date: 31-May-2020</h4>
      	</br>
      	<div class="text-center">
    		<img class="img-responsive" src="{% static 'blog\31-May-2020-1.png' %}" width="900" height="500">
    		<img class="img-responsive" src="{% static 'blog\31-May-2020-2.png' %}" width="900" height="500">
			</div>
		</div>
      </div>
  	  </br>
  	  </br>
  	  </br>
      <div class="jumbotron" style="background-color:#FFA500">
      	<h2 class="display-4">StriveHard</h2>
      	<h4 class="display-4">By: Mohit Bisht</h4>
      	<h4 class="display-4">Date: 25-May-2020</h4>
      	</br>
      	<div class="text-center">
    		<img class="img-responsive" src="{% static 'blog\StriveHard-page-001.jpg' %}" width="900" height="500">
    		<img class="img-responsive" src="{% static 'blog\StriveHard-page-002.jpg' %}" width="900" height="500">
			</div>
		</div>
      </div>



    </div>
</div>

<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/waypoints.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="js/main.js"></script>
{% endblock %}
</body>
</html>