{% extends 'base_join.html' %}
{% block content  %}
<div class="jumbotron">
  <h2 class="display-4">Gurukula:</h2>
  <p class="lead">“Education is not the amount of information that is put into your brain and runs riots there, undigested all your life. We must have life-building, man-making, character-making, assimilation of ideas. - Swami Vivekananda”
</br>With this idea We are planning to open Gurukula (School) as part of formal education in remote rural parts of country starting with Uttar Pardesh. To Help drop out children, children of working people in Industries, Construction sites which are unable to send their children to school.</p>
</br>
</br>
  <h2 class="display-4">Temple Connect:</h2>
  <p class="lead">Under this plan we are planning to go each temple of different villages and towns to conduct different spiritual activities and encourage all locals to participate in the activities. Main motive behind this plan is to create more awareness, discussion about different issues they are facing, importance of sanatana dharma</p>
</br>
</br>
  <h2 class="display-4">Goshala:</h2>
  <p class="lead">Cow has been given a sacred place in India since the ancient times. Cow is not only an animal that gives us milk. It has been given an important place in every stage of the development of human life and the Indians believe that a cow is the abode of the gods.</br>
  Under this we are going to open goshala for rescue, shelter, protect, feed, treat and rehabilitate weak, sick, injured, handicapped and abandoned homeless cattle.</br>
The need of the hour is to open more modern Gaushalas and to strengthen and upgrade the existing Gaushalas so that all free roaming cattle are accommodated properly, and their well-being and welfare can be ensured. Gaushalas, once considered as an economic drain today have a lot of potential for production of bio-fertilizers, organic pesticides and insecticides, organic energy, methane gas, panchgavya and other medicines. These have huge potential to become self-sustainable economic units by bringing about improvement in breeding, feeding, housing and healthcare of animals along with proper cattle waste utilization.  </p>
  <p><br/></p>
  <p class="lead">
    <a class="btn btn-warning" href="homepage" role="button">Home</a>
  </p>
</div>
{% endblock %}