{% extends 'base_join.html' %}
{% block content  %}
<div class="jumbotron">
  <h1 class="display-4">Registration completed!</h1>
  <p class="lead">Thanks for registrating for the online course, All course details will soon send to you .</p>
  <hr class="my-4">
  <p>Please reach us if you have any queries regarding course, Contact details are avaliable in cantact section in the homepage.</p>
  <p class="lead">
    <a class="btn btn-warning" href="homepage" role="button">Home</a>
  </p>
</div>
{% endblock %}